<div class="header container-fluid">
  <div class="row">
    <div class="head col-md-7">
      <h1 class="title"><a href="/"><img class="icon1" src="../../assets/mood-board.png"></a> KΛПBΛП BӨΛЯD</h1>
    </div>

    <div class="btn col-md-4">
      <button mat-button color="accent" class="home-btn col-2" routerLink="/home">Home</button>
      <button mat-button color="accent" class="home-btn col-2" routerLink="/signUp">SignUp</button>
      <button mat-button color="accent" class="home-btn col-2" routerLink="/login">Login</button>
    </div>
  </div>
</div>



<div class="container-fluid d-grid" >
  <div class="row" style="margin-top: 10%;">

    <div class="content-align col-4 my-5 mx-5" >
      <span class="content">AGILE</span>
      <p class="para">Create a user-friendly Kanban board tool with customizable 
        columns for efficient task tracking 
        and team coordination.</p>
      <button mat-button class="more-btn">Learn More</button>
    </div>

    <img class="img col-7" style="margin-top: -10%;" src="../../assets/d8f5ca1e80396f2aa8bbe941249db001.png">

  </div>
  
  <div class="row" id="about">
    <div class="col-md-12" style="text-align: center; padding-top: 0.5%; padding-bottom: 0.5%;">
      <span class="about">About Us</span>
    </div> 
  </div>
  <div class="row">
    <img class="img col-7"  src="../../assets/kanban-img.png">
    <div class="col-md-4" style="margin-top: 7%;margin-left: 2%;">
      <span class="para1">The Kanban board is a visual tool representing your process and the work items that pass through your workflow. Each of them is visualized with a Kanban card that contains concise information about the task it represents. You might include assignee, deadline, and a brief description of the work on your card.</span>
      <div class="space">
        <span class="para1">The most basic board layout consists of three columns that represent the most common states of any work item:</span>
        <ul class="space" class="para1">
          <li>To Do</li>
          <li>In Progress</li>
          <li>Done</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class="col">
      <span>Every task that your team has occasion to work on begins in the left-most “To Do” section of the Kanban board. Alternative names for this column include "Backlog," "Requested," or "Ready to Start."</span>

      <span>“In Progress” is for work items that your team is currently working on or has started, but aren't done yet. It's crucial to remember that once you put a card in this stage of the Kanban board, there's no going back. You shouldn't return it to the backlog.</span>
        
      <span>This also applies to situations when you are forced to stop working on the card for a while and work on something more urgent in the meantime. The first card stays In Progress until it's done; it doesn't return to the Backlog while you tackle something else.</span>
        
      <span>“Done” is the final stage of a Kanban board. Here, you put tasks that are completed and delivered to the customer.</span>
    </div>

  </div>

</div>