.example-card{
    width: 40rem;
    background-color:rgba(239, 255, 255, 0.204);
  }
  .fields{
    padding-left: 50px;
  }
  h4{
    padding-top: 50px;
    margin-left: 10px;
    font-weight: 600;
  }
  .form{
    width: 30rem;
    margin-left: 0px;
  }
  button{
    width: 20rem;
    margin-left: 120px;
    font-size: 20px;
    margin-top: 20px;
    height: 10px;
  }
  .title{
    padding-left: 110px;
    font-size: xx-large;
    text-decoration:underline;
    color: black;
  }
.signup{
  margin: 50px 0px 0px 650px;
}