<!-- <div class="container-fluid">
    <mat-toolbar class="header">
        <div>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
                routerLink="/home">
                <mat-icon>home</mat-icon>
            </button>
            <span>KαɳႦαɳ Tσσʅ</span>
            <span class="example-spacer"></span>


            <button mat-raised-button class="example-icon" (click)="validateLogoutStatus()">
                Logout
            </button>
        </div>
    </mat-toolbar>
</div> -->

<nav>
    <label class="logo">Menu</label>
    <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#">Boards <i class="fas fa-caret-down"></i></a>
        <ul>
            <li><a href="#">Board1</a></li>
            <li><a href="#">Board2</a></li>
            <li><a href="#">Board3</a></li>
        </ul>
        </li>
        <li><a href="#">member list</a></li>
    </ul>
</nav>